<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="h-screen overflow-hidden flex items-center justify-center"
    style="background: #edf2f7"
  >
    {% if current_user.is_authenticated %}
    <nav
      class="fixed top-0 left-0 w-full bg-purple-800 text-white px-6 py-4 flex justify-between items-center shadow-md z-50"
    >
      <div class="flex items-center space-x-8">
        <a
          href="{{ url_for('views.home') }}"
          class="text-lg font-semibold hover:text-purple-300 {% if active_page == 'home' %}border-b-2 border-white pb-1{% endif %}"
          >Ana Sayfa</a
        >

        <a
          href="{{ url_for('views.calisanlar') }}"
          class="text-lg font-semibold hover:text-purple-300 {% if active_page == 'calisanlar' %}border-b-2 border-white pb-1{% endif %}"
          >Profilim</a
        >

        <a
          href="{{ url_for('views.gorevler') }}"
          class="text-lg font-semibold hover:text-purple-300 {% if active_page == 'gorevler' %}border-b-2 border-white pb-1{% endif %}"
          >Görevler</a
        >
      </div>

      <a
        href="{{ url_for('auth.logout') }}"
        class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg font-medium"
      >
        Çıkış
      </a>
    </nav>

    {% else %} {% endif %} {% block content %}
    <!-- İçerik buraya gelecek -->
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
